html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background:	url(../imagens/ruido.png),
				linear-gradient(50deg,var(--btn-hover),var(--btn-initial));
	background-attachment: fixed;
}
  

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
  
section .card {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 20px;
    box-shadow: 20px 20px 50px #12121280;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
}

  
section .card .item {
    padding: 20px;
    text-align: center;
    transform: translateY(50px);
    transition: 0.5s;
    
}

  
section .card:hover .item {
    transform: translateY(0px);
    opacity: 1;
}

section .card .item p {
    opacity: 0;
}

section .card:hover .item p {
    opacity: 1;
} 

section .card .item h2 {
    position: absolute;
    top: -80px;
    right: 20px;
    font-weight: 800;
    font-size: 8em;
	letter-spacing: -0.06em;
    pointer-events: none;
    color: #ffffff57;
}
  
section .card .item h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
  
section .card .item p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

@media (min-width: 500px) and (max-width:699.99px){
    .titulo-projetos {
        font-size: 1.8rem;
    }
}

@media (min-width: 700px) and (max-width:999.99px) {
    .titulo-projetos {
        font-size: 2.5rem;
    }
}

@media (min-width: 1000px) and (max-width:1299.99px) {
    .titulo-projetos {
        font-size: 3rem;
    }
}

@media(min-width: 1300px) {
    .titulo-projetos {
        font-size: 4rem;
    }
}